

<div class="bofang">
	<div class="bf_title">
		<div class="bf_fanhui">
			<img src="images/fanhui_03.png"/>
		</div>
		<div class="item_txt">
			<p class="geming">
				冰雨
			</p>
			<p class="zuozhe">
				刘德华
			</p>
		</div>
		<div class="bf_fenxiang">
			<img src="images/fenxiang_03.gif"/>
		</div>
	</div>
	<div class="bf_con">
			<img class="item_gan" src="images/stick_bg.png"/>
		
		<div class="item_img">
			<div class="pic_y">
				<img src="images/placeholder_disk_play_program.png"/>
			</div>
			<div class="pic_img">
				<img class="pic_img1" src="images/zhong_16.png"/>
			</div>
		</div>
		<div id="lrc">
			歌词-加载中........
		</div>
		<div class="bf_shouchang">
			<img class="shouc" src="images/bf-shouc_03.png"/>
			<img src="images/shouc1_23.png"/>
		</div>
	</div>
	
	
	<div class="bf_bf">
		<img id="zhanting" src="images/pause.png"/>
	</div>
</div>